.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
  }
  